@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for columns */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 20px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #525252;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}